---
import { type Post } from '../types';
import CustomImage from './CustomImage.astro';
import FormattedDate from './FormattedDate.astro';
import Markdown from './Markdown.astro';

type Props = Post;

const { _id, slug, title, publishDate, excerpt, image } = Astro.props;
---

<article class="flex flex-col gap-6 p-4 border-2 border-dashed rounded-md sm:flex-row sm:items-start" data-sb-object-id={_id}>
    {
        image?.src && (
            <figure class="w-full aspect-[4/3] relative sm:w-1/3 sm:shrink-0">
                <CustomImage
                    _id={image._id}
                    src={image.src}
                    alt={image.alt}
                    width={600}
                    height={450}
                    class="object-cover w-full h-full rounded-md"
                    data-sb-field-path="image"
                />
            </figure>
        )
    }
    <header>
        <h2><a class="no-underline" href={`/blog/${slug.current}/`}><span data-sb-field-path="title">{title}</span></a></h2>
        {
            publishDate && (
                <p class="mt-2 text-sm">
                    Published on <FormattedDate dateString={publishDate} class="italic" data-sb-field-path="publishDate" />
                </p>
            )
        }
        {excerpt && <Markdown content={excerpt} class="mt-6" data-sb-field-path="excerpt" />}
    </header>
</article>
